html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: dashed;
}

* {
  font-family: "Montserrat", monospace;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}
.mainHello {
  font-weight: 100;
}

.mainName {
  font-size: 50px;
}

.mainEmoji {
  font-size: 75px;
  padding-right: 50px;
  text-align: center;
  justify-content: center;
}

.reactImg {
  height: 50px;
  width: 150px;
}

.skillsDiv {
  background-color: red;
  background-image: url("https://i.postimg.cc/xdvts6V4/blockchain.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-color: #40a5f5;
}

.skillsDivTwo {
  background-image: url("https://i.postimg.cc/gjm9Sx7v/servers.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: #40a5f5;
}

.skillsDivThree {
  background-image: url("https://i.postimg.cc/m2jCkKNj/html-coding.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: #40a5f5;
}

.borderDiv {
  border-color: #e9eaec;
  border-style: solid;
  border-width: 2px;
  margin: 5px;
}
/* @media only screen and (max-width: 350px) {
} */

.row {
  display: block;
}
.forMedia {
  display: flex;
}

.mainText {
  margin-left: 15px;
}

@media only screen and (max-width: 475px) {
  .forMedia {
    display: block;
    text-align: center;
  }
  .mainText {
    margin-top: 10px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 455px) {
  .blockchainProject {
    margin-top: 20px;
  }
}

.links {
  text-decoration: none;
}

.boxShadow {
  box-shadow: 10px 7px 25px 1px grey;
}

.imgFill {
  background-size: cover;
}

@media only screen and (max-width: 430px) {
  .imgProj {
    width: 200px;
    height: 150px;
  }
}
@media only screen and (max-width: 250px) {
  .imgProj {
    width: 150px;
    height: 100px;
  }
}
